body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
  }

  #header {
    text-align: center;
    padding-top: 20px;
  }


/* Define the grid layout */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.grid-box {
  border: 1px solid gray;
  width: 50px;
  height: 50px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-box:hover {
  cursor: pointer;
}

.grid-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Style the navigation */
#navigation {
  text-align: center;
  margin-top: 20px;
}

#navigation span {
  margin: 0 5px;
  cursor: pointer;
  color: blue;
}

#icons {
  text-align: center;
  padding: 30px;
}

#clock {
  text-align: center;
  font-size: 18px;
  color: #000;
}