body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  align-items: center;
  padding-bottom: 20px;
}

#header {
  text-align: center;
  font-size:14px;
}

#content {
  align-items: center;
  padding-top: 5px;
  padding-bottom: 20px;
  max-width: 400px;
  margin: 0 auto;
}


/*date page*/

.prevDate,
.nextDate {
  padding-left:20px;
  padding-right:20px;
  font-size: 25px;
  color: #5c5c5c;
  cursor: pointer;
}

.prevDate:hover,
.nextDate:hover {
  color: #198d4d;
}

#arrows1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*image slides*/
#image {
  margin-right: 25px;
  margin-left: 25px;
  position: relative;
}

#currentSlide{
  font-size: smaller;
  font-weight: 600;
  color: #84b67f;
}

.slideshow-container {
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.slide {
  display: none;
  width: 100%;
}

.slide.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  font-size: 20px;
  color: #4CAF50;
  cursor: pointer;
}

.prev {
  left: 70px; /* Position the previous arrow to the left */
}

.next {
  right: 70px; /* Position the next arrow to the right */
}

#arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

/*icons and buttons*/
#icons {
  text-align: center;
  padding: 15px;
}

.icon {
  font-size: 30px;
  color: #4CAF50;
  padding-left: 10px;
  padding-right: 10px;
}

#container {
  text-align: center;
  position: relative;
  height: 40px;
}

#submit {
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(55, 163, 22);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s;
}

#submit:hover {
  padding: 7px 20px;
  border: 3px solid rgb(87, 87, 87);
  font-weight: 700;
  color: rgb(58, 58, 58);
}

#submit:active:hover {
  background-color: rgb(71, 71, 71);
  color:#ffffff;
  font-weight: 700;
}

#submit:disabled {
  cursor: not-allowed;
}

/*clock*/
#clock {
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  color: rgb(175, 175, 175);
}

/*user input box*/
#userInput {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#phraseInput {
  margin: 25px;
  height: 25px;
  width: 600px;
  border: none;
  border-radius: 4px;
  background-color: #e7e9eb;
  padding: 10px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
  transition: padding-left 0.3s ease;
  cursor: text;
  caret-color: #1e1e1e;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  color: #1f1f20;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);;
  font-weight: 600;
  font-size: 16px;
}

#phraseInput:empty::before {
  content: attr(placeholder);
  color: #a5a5ad;
  font-weight: 600;
  font-size: 16px;
}

#phraseInput.br {
  padding-left: 20px; /* Adjust the padding as needed */
}

#phraseInput:focus {
  text-align: left;
  padding-left: 5px;
  background-color: #eff2f5;
}

#phraseInput:disabled {
  /* Style for disabled state */
  background-color: #f2f2f2;
  color: #888;
  cursor: auto;
}

#phraseInput::selection {
  background-color: #b3d4fc;
}

#resultDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#resultText {
  max-width: 450px;
  word-wrap: break-word;
  color: rgb(165, 165, 165);
  font-weight: 600;
  line-height: 160%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.highlighted {
  color: green;
}

/*help and share modals*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-content {
  background-color: #fefefe;
  box-shadow: 0 4px 4px rgba(70, 70, 70, 0.5);
  margin: 80px auto;
  padding-left: 20px;
  padding-right:20px;
  padding-bottom: 10px;
  border: 2px solid #888;
  max-width: 350px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  padding-top:10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#helpModal{
  text-align: left;
}

#howtoplay{
  padding-bottom:10px;
  list-style-type: square;
}

li{
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}

#shareImage{
  height: 300px;
  width: 300px;
}

#result-text{
  padding:15px;
}

/*link*/
#golink{
  text-decoration: none;
  font-weight: 600;
  color: #4CAF50;
}

#golink:hover {
  text-decoration: underline;
}


/*Copyright*/
#copyright{
  color: #a3a3a3;
  margin: 0;
  margin-top: 1px;
}